<%= render 'shared/errors', obj: @merchant %>

<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for @merchant do |f| %>
      <%= f.label "Store Name" %>
      <%= f.text_field :merchantname %>
      
      <%= f.label :email %>
      <%= f.email_field :email %>
      
      <%= f.label :password %>
      <%= f.password_field :password %>
      

      
      <%= f.submit(@merchant.new_record? ? 'Register' : 'Update Store Profile', class: "btn btn-success") %>
    <% end %>
  </div>
</div>