<div class="container white_pane">
  
    <div class="row">
  
      <div class="col-md-6 product_header">
        <%= link_to gravatar_for(@merchant, size:75), merchant_path(@merchant) %>
        &nbsp;&nbsp;
        <%= @merchant.merchantname %>
     </div>
    </div>
  <br>
  
  
  <ul class="nav nav-tabs">
    <li class='active'>
      <%= link_to "Products", merchant_path(@merchant) %>
    </li>
    <% if logged_in? and @merchant == current_user %>
    <li>
      <%= link_to "Your Profile", edit_merchant_path(@merchant) %>
    </li>
    <li>
      <%= link_to "Payment Options", connect_path(@merchant) %>
    </li>
    <% end %>
  </ul>

    <% if logged_in? and @merchant == current_user %>
      <%= link_to new_product_path do %>
       <%= image_tag "upload_new_product.png", class: "col-md-3 merchant_gallery" %>
      <% end %>
    <% end %>
    


    <% @products.each do |product| %>
        
        <div class="col-md-3 merchant_gallery" >
          <%= link_to image_tag(product.picture.url, size: "250x200", class: "gravatar"), product_path(product.id) if product.picture? %>
          <div class="gallery_h1", width:250 ><%= product.name %></div>
          <div class="gallery_h2", width:250 ><%= truncate(product.summary, :length => 30) %></div>
        </div>
    
    <% end %>


  
</div>