
  
  <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
  
  <!-- Let's add the v2 js to support Apple Pay (Apparently they can live peacefully together  
      https://stripe.slack.com/archives/C0UNAV1S8/p1497485372764113
  -->
  
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  

    <!-- <script type="text/javascript">  -->
    
   <!--  $(function() {
  
    Stripe.setPublishableKey('<%= @stripe_user_publishable_api_key  %>');
    
    var $form = $('#payment-form');
    $form.submit(function(event) {
      // Disable the submit button to prevent repeated clicks:
      $form.find('.btn-success').prop('disabled', true);
  
      // Request a token from Stripe:
      Stripe.card.createToken($form, stripeResponseHandler);
      
      // Prevent the form from being submitted:
      return false;
    });
  });
  
    function stripeResponseHandler(status, response) {
    // Grab the form:
    var $form = $('#payment-form');
  
    if (response.error) { // Problem!
  
      // Show the errors on the form:
      $form.find('.payment-errors').text(response.error.message);
      $form.find('.btn-success').prop('disabled', false); // Re-enable submission
  
    } else { // Token was created!
  
      // Get the token ID:
      var token = response.id;
  
      //Standard implementation
      // Insert the token ID into the form so it gets submitted to the server:
      $form.append($('<input type="hidden" name="stripeToken">').val(token));
      $form.get(0).submit();
      
      
      -->
      
      <!--
      
      //Let's implement 3DSecure
      

      //    Stripe.threeDSecure.create({
      //      card: token,
      //      amount: <%= (@product.price*100).to_i %>,
      //      currency: 'eur',
      //    }, created3DSecure);
        

      //  function displayResult(resultText) {
      //    $form.find('.payment-errors').text(resultText);
      //  }
      
      
      //  function created3DSecure(status, result) {
      //    if (status != 200) {
      //      var message = result['error']['message'];
      //      displayResult("Unexpected 3D Secure response status: " + status + ". Error: " + message);
      //      return;
      //    }
      
      //    var tdsToken = result['id'],
      //    redirectURL = result['redirect_url'],
      //    redirectStatus = result['status'];
      
      //    if (redirectStatus == 'succeeded') {
      //      displayResult("This card does not support 3D Secure authentication, but liability will be shifted to the card issuer.");
          
          //Let's charge the card as normal 
          
      //      $form.append($('<input type="hidden" name="stripeToken">').val(tdsToken));
      //      $form.get(0).submit();
            
      //      return;
      //    } else if (redirectStatus != 'redirect_pending') {
      //      displayResult("Unexpected 3D Secure status: " + redirectStatus);
      //      return;
      //    }
      
        // we're able to continue with 3D Secure.
        // insert the iframe, and register our callback
      //    var container = document.getElementById("iframe-container");
      //    Stripe.threeDSecure.createIframe(redirectURL, container, function(response) {
      //      console.log(response);
          // hide the modal dialog again
      //      $("#modal").modal('hide');
      
      //      if (response.status == 'success' || response.status == 'succeeded') {
            // Posting card token to your server!
            
            
      //      $form.append($('<input type="hidden" name="stripeToken">').val(response.id));
      //      $form.get(0).submit();
            
            
      //      } else {
      //        var msg = '3D Secure authentication failed: ' + (response.error_message ? response.error_message : response.error_code);
      //        displayResult(msg);
      //      }
      //    });
        
         // open the modal dialog
      //    $("#modal").modal({
          // don't allow the modal to be closed
      //      backdrop: "static",
      //      keyboard: false
      //    });

     //   }

      }
  
  };
  

</script>

-->





  
  
<div class="container white_pane">
  
  <div class="row grey_pane">
  
      <div class="col-md-4 product_header">
        <%= link_to gravatar_for(@product.merchant, size:75), merchant_path(@product.merchant) %>
        &nbsp;&nbsp;
        <%= @product.merchant.merchantname %>
      </div>
      
      <div class="col-md-8 text-right">
        <% @products.each do |product| %>
         <%= link_to image_tag(product.picture.url, size: "70x70", class: "image_preview"), product_path(product.id) if product.picture? %>
        <% end %> 
        
        <%= link_to @product_count.to_s + " items", merchant_path(@product.merchant), class: "merchant_items" %>
      </div>

  </div><!-- end of row -->


 
  <div class="row"> 
    <div class="col-md-7">
      <div class="show_product">
        <%= image_tag(@product.picture.url, class: "gravatar") if @product.picture? %>
      </div>
    </div><!-- end of col-md-6 -->
    
    
    <div class="col-md-5">
      <div class="well">
        
        <div class="pull-right">
          <%= link_to like_product_path(@product, like: true), method: :post do %>
            <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp; <%= @product.thumbs_up_total %>
          <% end %> &nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to like_product_path(@product, like: false), method: :post do %>
            <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp; <%= @product.thumbs_down_total %>
          <% end %>
        </div>
        
        <h3><%= @product.name %></h3><br>
        <h5><%= @product.summary %></h5>
        <h3><%= "€" + number_with_precision(@product.price, :precision => 2).to_s %></h3><br>
        <%= simple_format(@product.description )%><br>

        <% if @connect != nil %>
        
        
        
      <div class="row top-buffer">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingCard">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseCard" aria-expanded="false" aria-controls="collapseCard">
                  <span class="pf pf-stripe"></span> Pay with Stripe Card
                </a>
              </h4>
            </div>
            <div id="collapseCard" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingCard">
              <div class="panel-body">
                <form action="/pay" method="post" id="payment-form">
                <div class="form-group">
                  <label for="card-element" class="col-xs-12 col-sm-4">Card details</label>
                  <div class="col-xs-12 col-sm-8">
                    <div id="card-element" class="field"></div>
                  </div>
                   <div id="card-errors" role="alert">
                      <!-- Used to display Element errors --> 
                    </div>
                </div>
                <input type="hidden" name="product_id" value= "<%= @product.id.to_s %>" />
                <br>
                <div class="form-group">
                  <div class="col-xs-4 col-sm-4" align="left">
                    <input type="submit" class="btn btn-success" value="<%= "Pay €" + number_with_precision(@product.price, :precision => 2).to_s %>">
                  </div>
                </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>  
      
      
      <div class="row top-buffer">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingCard3DS">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseCard3DS" aria-expanded="false" aria-controls="collapseCard3DS">
                  <span class="pf pf-verified-by-visa"></span> Pay with 3D Secure
                </a>
              </h4>
            </div>
            <div id="collapseCard3DS" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingCard3DS">
              <div class="panel-body">
                <div>Force 3DS with 4000 000 0000 03063</div>
                <form action="/pay_3ds" method="post" id="payment-form-3ds">
                <div class="form-group">
                  <label for="card-element-3ds" class="col-xs-12 col-sm-4">Card details</label>
                  
                  <div class="col-xs-12 col-sm-8">
                    
                    <div id="card-element-3ds" class="field"></div>
                  </div>
                   <div id="card-errors-3ds" role="alert">
                      <!-- Used to display Element errors --> 
                    </div>
                </div>
                <input type="hidden" name="product_id" value= "<%= @product.id.to_s %>" />
                <br>
                <div class="form-group">
                  <div class="col-xs-4 col-sm-4" align="left">
                    <input type="submit" class="btn btn-success" value="<%= "Pay €" + number_with_precision(@product.price, :precision => 2).to_s %>">
                  </div>
                </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>  
      
      
      
      
      <div class="row top-buffer">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="braintreeCard">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseBraintreeCard" aria-expanded="false" aria-controls="collapseBraintreeCard">
                  <span class="pf pf-braintree"></span> Pay with Brantree Card
                </a>
              </h4>
            </div>
            <div id="collapseBraintreeCard" class="panel-collapse collapse" role="tabpanel" aria-labelledby="braintreeCard">
              <div class="panel-body">
                <form id="checkout" method="post" action="/pay_braintree">
                <div id="braintree-payment-form"></div>
                <input type="hidden" name="amount" value= "<%= @product.price %>" />
                <input type="submit"class="btn btn-danger" value="<%= "Pay €" + number_with_precision(@product.price, :precision => 2).to_s %>" >
              </div>
            </div>
          </div>
        </div>
      </div>  
      
      
        
        
      <div class="row top-buffer">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingIdeal">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseIdeal" aria-expanded="false" aria-controls="collapseIdeal">
                <span class="pf pf-ideal"></span> Pay with iDEAL
              </a>
            </h4>
          </div>
          <div id="collapseIdeal" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingIdeal">
            <div class="panel-body">
              <form action="/pay_ideal" method="POST" id="ideal-payment-form">
                <div class="form-group">
                  <label for="ideal_bank" class="col-xs-6 col-sm-6">Select your bank</label>
                  <div class="col-xs-6 col-sm-6">
                    <select class="form-control" id="ideal_bank">
                      <option value="">-</option>
                      <option value="abn_amro">ABN AMRO</option>
                      <option value="bunq">bunq</option>
                      <option value="asn_bank">ASN Bank</option>
                      <option value="ing">ING Bank</option>
                      <option value="knab">Knab</option>
                      <option value="rabobank">Rabobank</option>
                      <option value="regiobank">RegioBank</option>
                      <option value="sns_bank">SNS Bank</option>
                      <option value="triodos_bank">Triodos Bank</option>
                      <option value="van_lanschot">Van Lanschot</option>
                    </select>
                  </div>
                </div>
                <input type="hidden" name="product_id" value= "<%= @product.id.to_s %>" />
                <div class="col-xs-4 col-sm-4" align="left">
                  <input type="submit" class="btn btn-success" value= " <%= "Pay €" + number_with_precision(@product.price, :precision => 2).to_s %>" >
                </div>
              </form>
                
                

            </div>
          </div>
        </div>
        </div>
        </div>
        
        
        <div class="row top-buffer">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="applePay">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseApplePay" aria-expanded="false" aria-controls="collapseApplePay">
                    <span class="pf pf-apple-pay"></span> Pay with Apple Pay
                  </a>
                </h4>
              </div>
              <div id="collapseApplePay" class="panel-collapse collapse" role="tabpanel" aria-labelledby="applePay">
                
                <style>
                  #apple-pay-button {
                    display: none;
                    background-color: black;
                    background-image: -webkit-named-image(apple-pay-logo-white);
                    background-size: 100% 100%;
                    background-origin: content-box;
                    background-repeat: no-repeat;
                    width: 100%;
                    height: 44px;
                    padding: 10px 0;
                    border-radius: 10px;
                  }
                </style>
                <br>
                <button id="apple-pay-button"></button>

              </div>
            </div>
          </div>
        </div>  

  

        
        
        <% else %>
          <div class="well"><h5>Merchant not connected to payment processor</h5></div>
        <% end %>
        
        
        


        

        



    </div> <!-- end of col-md-6 -->
  </div> <!-- end of row -->
  
   
     

  <div class="row"> 
  
    <div class="col-md-3">
      <h5><%= link_to "Return to full Products Listing", root_path, class: "btn btn-success btn-small" %></h5>
    </div>
    
          
    <div class="col-md-9 text-left">
      <% if logged_in? and @product.merchant == current_user %>
      
      <div class="nav_item">
        <%= link_to '', edit_product_path(@product), class: "glyphicon glyphicon-wrench" %>
      </div> 
      <div class="nav_item">
        <%= link_to "",  @product, class: "glyphicon glyphicon-trash", method: :delete,data: { confirm: "You sure?" } %>
      </div>
       
      <% end %> <!-- end if -->
    </div><!-- end col-md-9 -->
  </div><!-- end row -->
</div><!-- end container -->





<script type="text/javascript">
  var stripe = Stripe('<%= @stripe_user_publishable_api_key  %>');
  var elements = stripe.elements();
  
  // Initialize the Element into our HTML `span` element, with id="card":
  // Custom styling can be passed to options when creating an Element.
  var style = {
    base: {
      // Add your base input styles here. For example:
      fontSize: '14px',
      lineHeight: '24px'
    }
  };
  
  // Create an instance of the card Element
  var card = elements.create('card', {style: style});
  card.mount('#card-element');
  
  
  card.addEventListener('change', function(event) {
    var displayError = document.getElementById('card-errors');
    if (event.error) {
      displayError.textContent = event.error.message;
    } else {
      displayError.textContent = '';
    }
  });
  
  // Create a token or display an error when the form is submitted.
  var form = document.getElementById('payment-form');
  form.addEventListener('submit', function(event) {
    event.preventDefault();
  
    stripe.createToken(card).then(function(result) {
      if (result.error) {
        // Inform the user if there was an error
        var errorElement = document.getElementById('card-errors');
        errorElement.textContent = result.error.message;
      } else {
        // Send the token to your server
        stripeTokenHandler(result.token);
      }
    });
  });
  
  function stripeTokenHandler(token) {
    // Insert the token ID into the form so it gets submitted to the server
    var form = document.getElementById('payment-form');
    var hiddenInput = document.createElement('input');
    hiddenInput.setAttribute('type', 'hidden');
    hiddenInput.setAttribute('name', 'stripeToken');
    hiddenInput.setAttribute('value', token.id);
    form.appendChild(hiddenInput);
  
    // Submit the form
    form.submit();
  }
  
</script>


  <script type="text/javascript">
  Stripe.setPublishableKey('<%= @stripe_publishable_api_key  %>');
  Stripe.applePay.stripeAccount = '<%= @stripe_user_id  %>';
  
  console.log("Stripe.setPublishableKey: " + '<%= @stripe_publishable_api_key  %>');
  console.log("Stripe.applePay.stripeAccount: " + '<%= @stripe_user_id  %>');

  Stripe.applePay.checkAvailability(function(available) {
    if (available) {
      document.getElementById('apple-pay-button').style.display = 'block';
    }
    else
      console.log("Apple Pay is not available");
  });
  
  document.getElementById('apple-pay-button').addEventListener('click', beginApplePay);
  
  function beginApplePay() {
    var paymentRequest = {
      countryCode: 'IE',
      currencyCode: 'EUR',
      total: {
        label: '<%= @product.name %>',
        amount: '<%= @product.price %>'
      }
    };
    var session = Stripe.applePay.buildSession(paymentRequest,
    function(result, completion) {

      $.post('/pay', { stripeToken: result.token.id, product_id: <%= @product.id.to_s %> }).done(function() {
        completion(ApplePaySession.STATUS_SUCCESS);
        // You can now redirect the user to a receipt page, etc.
        window.location.href = '/';
      }).fail(function() {
        completion(ApplePaySession.STATUS_FAILURE);
      });
    }, function(error) {
      console.log(error.message);
    });

    session.oncancel = function() {
      console.log("User hit the cancel button in the payment window");
    };

    session.begin();
  }
  </script>
  
  
<!-- 3D Secure implementation -->
  
  
  <script type="text/javascript">
  var stripe_3ds = Stripe('<%= @stripe_user_publishable_api_key  %>');
  var elements_3ds = stripe_3ds.elements();
  
  // Initialize the Element into our HTML `span` element, with id="card":
  // Custom styling can be passed to options when creating an Element.
  var style = {
    base: {
      // Add your base input styles here. For example:
      fontSize: '14px',
      lineHeight: '24px'
    }
  };
  
  // Create an instance of the card Element
  var card_3ds = elements_3ds.create('card', {style: style});
  card_3ds.mount('#card-element-3ds');
  
  
  card_3ds.addEventListener('change', function(event) {
    var displayError_3ds = document.getElementById('card-errors-3ds');
    if (event.error) {
      displayError_3ds.textContent = event.error.message;
    } else {
      displayError_3ds.textContent = '';
    }
  });
  
  // Create a source or display an error when the form is submitted.
  var form_3ds = document.getElementById('payment-form-3ds');
  form_3ds.addEventListener('submit', function(event) {
    event.preventDefault();
  
    stripe_3ds.createSource(card_3ds).then(function(result) {
      if (result.error) {
        // Inform the user if there was an error
        var errorElement_3ds = document.getElementById('card-errors-3ds');
        errorElement_3ds.textContent = result.error.message;
      } else {
        // Send the token to your server
        stripeSourceHandler(result.source);
      }
    });
  });
  
  function stripeSourceHandler(source) {
    // Insert the token ID into the form so it gets submitted to the server
    var form_3ds = document.getElementById('payment-form-3ds');
    var hiddenInput_3ds = document.createElement('input');
    hiddenInput_3ds.setAttribute('type', 'hidden');
    hiddenInput_3ds.setAttribute('name', 'stripeSource');
    hiddenInput_3ds.setAttribute('value', source.id);
    form_3ds.appendChild(hiddenInput_3ds);
  
    // Submit the form
    form_3ds.submit();
  }
  
</script>
  
  
 
