
  
  <!--<script type="text/javascript" src="https://js.stripe.com/v3/stripe-beta.js"></script>-->
  
  

    <!-- <script type="text/javascript">  -->
    
   <!--  $(function() {
  
    Stripe.setPublishableKey('<%= @stripe_user_publishable_api_key  %>');
    
    var $form = $('#payment-form');
    $form.submit(function(event) {
      // Disable the submit button to prevent repeated clicks:
      $form.find('.btn-success').prop('disabled', true);
  
      // Request a token from Stripe:
      Stripe.card.createToken($form, stripeResponseHandler);
      
      // Prevent the form from being submitted:
      return false;
    });
  });
  
    function stripeResponseHandler(status, response) {
    // Grab the form:
    var $form = $('#payment-form');
  
    if (response.error) { // Problem!
  
      // Show the errors on the form:
      $form.find('.payment-errors').text(response.error.message);
      $form.find('.btn-success').prop('disabled', false); // Re-enable submission
  
    } else { // Token was created!
  
      // Get the token ID:
      var token = response.id;
  
      //Standard implementation
      // Insert the token ID into the form so it gets submitted to the server:
      $form.append($('<input type="hidden" name="stripeToken">').val(token));
      $form.get(0).submit();
      
      
      -->
      
      <!--
      
      //Let's implement 3DSecure
      

      //    Stripe.threeDSecure.create({
      //      card: token,
      //      amount: <%= (@product.price*100).to_i %>,
      //      currency: 'eur',
      //    }, created3DSecure);
        

      //  function displayResult(resultText) {
      //    $form.find('.payment-errors').text(resultText);
      //  }
      
      
      //  function created3DSecure(status, result) {
      //    if (status != 200) {
      //      var message = result['error']['message'];
      //      displayResult("Unexpected 3D Secure response status: " + status + ". Error: " + message);
      //      return;
      //    }
      
      //    var tdsToken = result['id'],
      //    redirectURL = result['redirect_url'],
      //    redirectStatus = result['status'];
      
      //    if (redirectStatus == 'succeeded') {
      //      displayResult("This card does not support 3D Secure authentication, but liability will be shifted to the card issuer.");
          
          //Let's charge the card as normal 
          
      //      $form.append($('<input type="hidden" name="stripeToken">').val(tdsToken));
      //      $form.get(0).submit();
            
      //      return;
      //    } else if (redirectStatus != 'redirect_pending') {
      //      displayResult("Unexpected 3D Secure status: " + redirectStatus);
      //      return;
      //    }
      
        // we're able to continue with 3D Secure.
        // insert the iframe, and register our callback
      //    var container = document.getElementById("iframe-container");
      //    Stripe.threeDSecure.createIframe(redirectURL, container, function(response) {
      //      console.log(response);
          // hide the modal dialog again
      //      $("#modal").modal('hide');
      
      //      if (response.status == 'success' || response.status == 'succeeded') {
            // Posting card token to your server!
            
            
      //      $form.append($('<input type="hidden" name="stripeToken">').val(response.id));
      //      $form.get(0).submit();
            
            
      //      } else {
      //        var msg = '3D Secure authentication failed: ' + (response.error_message ? response.error_message : response.error_code);
      //        displayResult(msg);
      //      }
      //    });
        
         // open the modal dialog
      //    $("#modal").modal({
          // don't allow the modal to be closed
      //      backdrop: "static",
      //      keyboard: false
      //    });

     //   }

      }
  
  };
  

</script>

-->





  
  
<div class="container white_pane">
  
  <div class="row grey_pane">
  
      <div class="col-md-4 product_header">
        <%= link_to gravatar_for(@product.merchant, size:75), merchant_path(@product.merchant) %>
        &nbsp;&nbsp;
        <%= @product.merchant.merchantname %>
      </div>
      
      <div class="col-md-8 text-right">
        <% @products.each do |product| %>
         <%= link_to image_tag(product.picture.url, size: "70x70", class: "image_preview"), product_path(product.id) if product.picture? %>
        <% end %> 
        
        <%= link_to @product_count.to_s + " items", merchant_path(@product.merchant), class: "merchant_items" %>
      </div>

  </div><!-- end of row -->


 
  <div class="row"> 
    <div class="col-md-7">
      <div class="show_product">
        <%= image_tag(@product.picture.url, class: "gravatar") if @product.picture? %>
      </div>
    </div><!-- end of col-md-6 -->
    
    
    <div class="col-md-5">
      <div class="well">
        
        <div class="pull-right">
          <%= link_to like_product_path(@product, like: true), method: :post do %>
            <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp; <%= @product.thumbs_up_total %>
          <% end %> &nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to like_product_path(@product, like: false), method: :post do %>
            <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp; <%= @product.thumbs_down_total %>
          <% end %>
        </div>
        
        <h3><%= @product.name %></h3><br>
        <h5><%= @product.summary %></h5>
        <h3><%= "€" + number_with_precision(@product.price, :precision => 2).to_s %></h3><br>
        <%= simple_format(@product.description )%><br>

        <% if @connect != nil %>
        
        
        <div class="well">   
                <form action="/pay" method="post" id="payment-form">
                  
                  <h2>Pay through Stripe</h2>
                  
                  <span class="payment-errors"></span>
                  
                  <div class="form-row">
                   <label>
                      <span>Card</span>
                      <span id="card">
                      </span>
                    </label>
                  </div>
              
                  <input type="hidden" name="product_id" value= "<%= @product.id.to_s %>" />
                  <input type="submit" class="btn btn-success" value="<%= "Pay €" + number_with_precision(@product.price, :precision => 2).to_s %>">

              </form>
          </div>
        
        
        <div class="well" >
          <form action="/pay_ideal" method="POST" id="ideal-payment-form">
            <table>
              <tr>
                <td align="left" colspan="3">
                  <h2>Pay with iDEAL</h2>
                </td>
              </tr>
              <tr><td colspan="3">
                    <span class="payment-errors alert-danger">
              </td></tr>
              <tr><td colspan="2">
                <input type="text" data-stripe="text" name="customer_name" placeholder="Name" style="width: 150px;">
              </td><td></tr>
              <tr><td colspan="2">
                </td></tr>
            </table>
            <input type="hidden" name="product_id" value= "<%= @product.id.to_s %>" />
            <input type="submit" class="btn btn-success" value= " <%= "Pay €" + number_with_precision(@product.price, :precision => 2).to_s %>" >
          </form>
        </div> <!-- end of the well  -->
        
        
      <!-- 
        <div class="well"> 
          <h2>Pay through Braintree</h2>
            <form id="checkout" method="post" action="/pay_braintree">
            <div id="braintree-payment-form"></div>
            <input type="hidden" name="amount" value= "<%= @product.price %>" />
            <input type="submit"class="btn btn-danger" value="<%= "Pay €" + number_with_precision(@product.price, :precision => 2).to_s %>" >
          </form>
        </div>
        -->
        
        
        <div class="well">
          <style>
            #apple-pay-button {
              display: none;
              background-image: -webkit-named-image(apple-pay-logo-black);
              background-size: 100% 100%;
              background-origin: content-box;
              background-repeat: no-repeat;
              width: 100%;
              height: 44px;
              border: 1px solid black;
              padding: 10px 0;
             border-radius: 10px;
            }
          </style>
          <button id="apple-pay-button" onclick="beginApplePay()"></button>
        </div>
        
        

  

        
        
        <% else %>
          <div class="well"><h5>Merchant not connected to payment processor</h5></div>
        <% end %>
        
        
        


        

        



    </div> <!-- end of col-md-6 -->
  </div> <!-- end of row -->
  
   
     

  <div class="row"> 
  
    <div class="col-md-3">
      <h5><%= link_to "Return to full Products Listing", root_path, class: "btn btn-success btn-small" %></h5>
    </div>
    
          
    <div class="col-md-9 text-left">
      <% if logged_in? and @product.merchant == current_user %>
      
      <div class="nav_item">
        <%= link_to '', edit_product_path(@product), class: "glyphicon glyphicon-wrench" %>
      </div> 
      <div class="nav_item">
        <%= link_to "",  @product, class: "glyphicon glyphicon-trash", method: :delete,data: { confirm: "You sure?" } %>
      </div>
       
      <% end %> <!-- end if -->
    </div><!-- end col-md-9 -->
  </div><!-- end row -->
</div><!-- end container -->





  <script type="text/javascript">
  var stripe = Stripe('<%= @stripe_user_publishable_api_key  %>');
  var elements = stripe.elements();
  
  // Construct the Stripe Element:
  var card = elements.create('card');
  
  // Initialize the Element into our HTML `span` element, with id="card":
  card.mount('#card');
  
  
  function createToken() {
    stripe.createToken(card).then(
      function(token) {
        stripeTokenHandler(token); // send this to your server
      },
      function(error) {
        console.log(error); // display an error
      }
    );
  };
  
  // Create a token when the form is submitted.
  var form = document.getElementById('payment-form');
  form.addEventListener('submit', function(e) {
    e.preventDefault();
    createToken();
  });
  
  function stripeTokenHandler(token) {
    // Insert the token ID into the form so it gets submitted to the server:
    var form = document.getElementById('payment-form');
    var hiddenInput = document.createElement('input');
    hiddenInput.setAttribute('type', 'hidden');
    hiddenInput.setAttribute('name', 'stripeToken');
    hiddenInput.setAttribute('value', token.id); 
    form.appendChild(hiddenInput);
    
    // Submit the form:
    form.submit();
  }

</script>


  <script type="text/javascript">
  
  Stripe.applePay.checkAvailability(function(available) {
  if (available) {
    document.getElementById("apple-pay-button").style.display = 'block';
  }
});

  document.getElementById('apple-pay-button').addEventListener('click', beginApplePay);
  
  
  function beginApplePay() {
    var paymentRequest = {
      countryCode: 'FR',
      currencyCode: 'EUR',
      total: {
        label: '<%= @product.name %>',
        amount: '<%= @product.price %>'
      }
    };
    
    var session = Stripe.applePay.buildSession(paymentRequest,
    function(result, completion) {

    $.post('/pay', { stripeToken: result.token.id, product_id: <%= @product.id.to_s %> }).done(function() {
      completion(ApplePaySession.STATUS_SUCCESS);
      // You can now redirect the user to a receipt page, etc.
      window.location.href = '/';
    }).fail(function() {
      completion(ApplePaySession.STATUS_FAILURE);
    });

  }, function(error) {
    console.log(error.message);
  });

  session.begin();
  }

 
</script> 



