<!DOCTYPE html>
<html>
<head>
  <title>GetStripey</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag "favicon.png" %>
  <%= csrf_meta_tags %>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paymentfont/1.2.4/css/paymentfont.min.css">


</head>
<body>

  <%= render 'layouts/navigation' %> 
    <%= render 'layouts/messages' %>
    <%= yield %>
  
    <%= render 'layouts/footer' %> 
    

  <!-- <script type="text/javascript" src="https://js.stripe.com/v3/"></script> -->

  <!-- <script type="text/javascript" src="https://js.stripe.com/v2/"></script> -->
  <script src="https://js.braintreegateway.com/js/braintree-2.20.0.min.js"></script>  


  <script>
  
    var clientToken="<%= @braintree_client_token %>";
      braintree.setup(clientToken, "dropin", {
        container: "braintree-payment-form"
      });
  </script>

  

  


</body>
</html>
